
.banner-imagem
{
    position: relative;
    width: 100%;
    height: calc(100vw - 100px);
}
.banner-titulo
{
    color: #fdfdfd;
    font-family: Pacifico, cursive;
    font-size: 5.0625rem;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.804);
    top: 60%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}



@media screen and (max-width: 1024px)
{
        .banner-imagem
        {
            height: 70vw;
        }
        .banner-titulo
        {
            top: 75%;
        }

}


@media screen and (max-width: 820px)
{
        .banner-imagem
        {
            height: 70vw;
        }
        .banner-titulo
        {
            top: 55%;            
        }

}

@media  screen and (max-width: 360px)
{
    .banner
    {
        margin-top: 2%;
    }
    .banner-imagem
    {
        height: calc(100vw - 50px);
    }
    .banner-titulo
    {
        font-size: 2rem;
        top: 45%;
    }
    

    
}
