.quem-somos
{
    text-align: center;
    padding: 5rem;
}
.quem-somos-titulo
{
    margin-bottom: 1rem;
    color: #8d0606;
    font-size: 3.1875rem;
    font-family: Pacifico,cursive;
}
.quem-somos-descricao
{
    font-weight: 100;
    font-size: 1.75rem;
    color: #595959;
}


.pessoas
{
    display: flex;
    justify-content: space-around;
    padding-top: 3rem; ;
}
.pessoa
{
    display: flex;
    flex-direction: column;
}
.pessoa-nome
{
    margin: 1rem 0;
    font-family: Pacifico, cursive;
    color: #8d0606;
    font-size: 2rem;
}
.pessoa-funcao
{
    text-transform: lowercase;
    color: #595959;
    font-size: 1.25rem;
}
.pessoa-imagem
{
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background: no-repeat;
    background-size: cover;
    background-position: center;

    border-radius: 100%;
}
.pessoa-imagem-roberta
{
    background: url('../img/pessoas/roberta.jpg');
}
.pessoa-imagem-marcela
{
    background: url('../img/pessoas/marcela.jpg');
}
.pessoa-imagem-andreia
{
    background: url('../img/pessoas/andreia.jpg');

}