.cabecalho
{
    background: #f9f9f9;
    display: flex;
    
    justify-content: space-between;

    padding-left: 2rem;
    padding-right: 2rem;
}

header nav ul
{
    display: flex;
}
.cabecalho-menu-itens
{
    list-style: none;
    font-size: 1.1rem;
}
header nav ul li a
{
    color: #808080;
    margin-right: 1.25rem;
    text-decoration:none;
    text-transform: lowercase;
}
header nav ul li a#ativo
{
    color: #333;
    font-weight: bold;
}
.cabecalho-menu-itens:last-child a
{
    margin-right: 0px;
}
.cabecalho-menu-itens a:hover
{
    color: blue;
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
}


@media screen and (max-width: 360px)
{
    .cabecalho
    {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 2%;
    }
    

    
}