html
{
     font-family:'arial', sans-serif;
}
.headerServicos
{
    background-color: #ccc;
    padding: 25px 0;
    font-family:arial;
}

.caixa
{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.menuServicos
{
    display: inline;
    position: absolute;
    top: 126px;
    right: 0;
}

.itensMenuServicos
{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.itensMenuServicos:hover
{
    color: rgb(148, 114, 3);
    text-decoration: underline;
}

.listaDeServicos
{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;  
    
}

.listaDeServicos li
{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
   /* background: #ccc;*/
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: rgb(73, 48, 2);
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
}

.listaDeServicos h2
{
    font-size: 30px;
}

.descricaoServicos
{
    font-size: 18px;
}

.precoServicos
{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

.listaDeServicos li:hover
{
    color: rgb(148, 114, 3);
    border-color:  rgb(148, 114, 3);
    font-size: 1px;
}
.listaDeServicos li:hover h2
{
    font-size: 40px;
}

footer
{
    text-align: center;
    background: url(./images/bg.jpg);
    padding: 40px 0;
    color: white;
    font-size: 18px;
}

footer p
{
    margin-top: 15px;
}
