body
{
    margin: 5% 1%;
    background: orange;
}

section
{
    background: rgb(249, 226, 181);
    margin: 2% 3% ;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    text-align: center;
}

h1
{
    width: 100%;
    margin-bottom: 2%;
}

h2
{
    width: 100%;
    margin-bottom: 2%;
}
.lista-nao-ordenada
{
    margin: 2% 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}